[submodule "public/assets/tresorerie"]
	path = public/assets/tresorerie
	url = https://github.com/gAb09/tresorerie-assets
[submodule "app/modules/tresorerie"]
	path = app/modules/tresorerie
	url = https://github.com/gAb09/tresorerie
