@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-9378hl');
	src:url('fonts/icomoon.eot?#iefix-9378hl') format('embedded-opentype'),
		url('fonts/icomoon.woff?-9378hl') format('woff'),
		url('fonts/icomoon.ttf?-9378hl') format('truetype'),
		url('fonts/icomoon.svg?-9378hl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-desc:before {
	content: "\69";
}

.icon-asc:before {
	content: "\61";
}

.icon-checkmark:before {
	content: "\73";
}

.icon-check-alt:before {
	content: "\53";
}

.icon-x:before {
	content: "\64";
}

.icon-x-altx-alt:before {
	content: "\44";
}

.icon-denied:before {
	content: "\75";
}

.icon-mail:before {
	content: "\6d";
}

.icon-plus:before {
	content: "\63";
}

.icon-plus-alt:before {
	content: "\43";
}

.icon-loop-alt1:before {
	content: "\32";
}

.icon-arrow-right2:before {
	content: "\72";
}

.icon-list:before {
	content: "\4c";
}

.icon-pen-alt2:before {
	content: "\65";
}

.icon-layers:before {
	content: "\6c";
}

.icon-expand:before {
	content: "\78";
}

.icon-search:before {
	content: "\e986";
}

.icon-stats-dots:before {
	content: "\e99b";
}

.icon-eye:before {
	content: "\e9ce";
}

.icon-arrow-left:before {
	content: "\70";
}

.icon-arrow-right:before {
	content: "\6e";
}

.icon-forward:before {
	content: "\74";
}

.icon-settings:before {
	content: "\e600";
}

